pip install git+https://github.com/fullmakeralchemist/pytube/
pip install git+https://github.com/gatagat/lap.git@new-packaging
pip install torch==2.3.0
pip install ultralytics==8.2.102
pip install streamlit==1.38.0
pip install streamlit-webrtc==0.47.9
pip install pafy==0.5.5
