git==24.3.1
pip install git+https://github.com/gatagat/lap.git@new-packaging
git+https://github.com/fullmakeralchemist/pytube/
torch==2.3.0
ultralytics==8.2.102
streamlit==1.38.0
streamlit-webrtc==0.47.9
pafy==0.5.5

